{% extends 'base.html' %}
{% load static %}

{% block meta %}	
<script type = "text/javascript" 
    src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script src="{% static 'js/book.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Castoro&family=Nerko+One&family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

{% endblock meta %}
{% block content %}
</br></br></br></br>
<div class="container">
<input class="col-5" type="text" id="keyword" placeholder="cari buku...">
<br><br><table  id="buku" class="table ">
</table>
</div>

{% endblock %}