
#header , #footer, #login_btn{
    background-color:#87a96b; 
}



#login_btn{
    font-family:Risque ;
    font-size:20px;
   
}
#login{
    background-color: #B0BC98;
    margin-top:120px;
    margin-bottom:50px;
}

#form{
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 50px;
    margin-right: 50px; 
}
#sosmed{
    font-family:Risque;
    color: white;
    font-size:22px;
}


#copyright{
    font-family:Risque;
    color: white;
    font-size:15px;
    margin-top:20px;
    margin-bottom:15px;
}

#brand{
    font-family:Risque;
    color: white;
    font-size:27px;
    
}


#menu{
    font-family:Risque;
    color: white;
    font-size:20px;
   
}

#foto{
   
    margin-top: 140px;
    
}

#deskripsi{
  
   
    margin-top: 120px;
    margin-bottom: 50px;
    text-align: justify;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #B0BC98;
    
}



.experience{
    
    margin-bottom: 75px;
    background-color: #B0BC98;
    font-size: 19px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#formMatkul{
    margin-top: 150px;
    margin-bottom: 50px;   
}



#profil{
    background-color: rgb(161, 101, 101);
}

#judul {
  text-align:center;
  color:rgb(124, 47, 47);
  font-size: 40;
  margin-top:100px;
}



#T, #T th, #T td {
   border: 2px solid black;
   border-collapse: collapse;
   width:500;
   padding: 10px;
   font-size: 20;
   
}



.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto; 
 
}
.center2 {
   
    margin-left: auto;
    margin-right: auto; 
}

#biodata{
    background-color:rgb(138, 63, 63);
    padding:15px;
}




