{% extends 'base.html' %}
{% load static %}
   <head>
       <title>{{ title }}</title>
       
   </head>
   {% block content %}
   <body id="profil">
       <h1 id="judul"><i>Welcome To My Website</i></h1>
       <img src="{% static 'img/foto.JPG' %}"  width="200" height="280" class="center1">
       <h4>Seorang Mahasiswa Tahun Kedua di Fasilkom UI. <br> Pernah Belajar Bahasa Pemrograman Python dan Java.</h4>
       <br> <br>
       <div id="biodata" >
       <h5>Nama          : Farzana Hadifa</h5>
       <h5>NPM           : 1906398534</h5>
       <h5>Angkatan      : Maung 2019</h5>
       <h5>Tempat Kuliah : Fasilkom UI</h5>
       <h5>Hobi          : Membaca</h5>
       </div>
    
       <table class="center2"  >
       <td style="padding:50px">
       <table id="T"  > 
            <tr>
                <th>Riwayat Pendidikan</th>
                <th>Tahun</th>
            </tr>
            <tr>
                <td> TK IT Al-Azhar B.Aceh</td>
                <td>2006 - 2007</td>
            </tr>
            <tr>
                <td>SDN 16 B.Aceh</td>
                <td>2007 - 2013</td>
            </tr>
            <tr>
                <td>MTsN Model B.Aceh</td>
                <td>2013 - 2016</td>
            </tr>
            <tr>
                <td>MAN Model B.Aceh</td>
                <td>2016 - 2019</td>
            </tr>
            <tr>
                <td>Universitas Indonesia</td>
                <td>2019 - Sekarang</td>
            </tr>
       </table>
       </td>

       <td style="padding:80px">
       <table id="T" > 
        <tr>
            <th>Pengalaman/Organisasi</th>
            <th>Tahun</th>
        </tr>
        <tr>
            <td>Staf Cerdas Cermat SSG UI 2020</td>
            <td>2019 - 2020</td>
        </tr>
        <tr>
            <td>Staf Mentor Betis Fasilkom 2020</td>
            <td>2019 - 2020</td>
        </tr>
        <tr>
            <td>Wakil Departemen MuC Fuki</td>
            <td>2020 - Sekarang</td>
        </tr>
        <tr>
            <td>Staf MedC Saman UI</td>
            <td>2020 - Sekarang</td>
        </tr>
        <tr>
            <td>Asisten Dosen Kalkulus 1</td>
            <td>2020 - Sekarang</td>
        </tr>
   </table>
   </td>
    </table>

   
   <h2 Style = "text-align: center;">Follow Me On:</h2>
   <table class = 'center2'>
       <td >
            <a href="https://www.instagram.com/farzanahadifa/?hl=en"><img src="{% static 'img/ig.png' %}" width="60" height="60" class="center1">
            <h3 style="color:black">@farzanahadifa</h3></a></td>
        <td style="padding:10px">
            <a href=https://twitter.com/FHadifa><img src="{% static 'img/twitter.jpg' %}" width="55" height="55" class="center1" >
            <h3 style="color:black">@FHadifa</h3></a>
        </td>
        <td style="padding:10px">
            <a href=https://www.linkedin.com/in/farzana-hadifa-11465719a><img src="{% static 'img/in.png' %}" width="55" height="55" class="center1" >
            <h3 style="color:black">Farzana Hadifa</h3></a>
        </td>
   </table>
   <br>
</div>
   </body>
   {% endblock %}

