{% extends 'base.html' %}
{% load static %}


{% block meta %}	
<script type = "text/javascript" 
    src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script src="{% static 'js/accordion.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Castoro&family=Nerko+One&family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
<style>
    .isi{
    display: none;
    font-family: 'Castoro', serif;
     
    }

    .card{
    width: 700px;
    background-color: rgb(238, 234, 234);
    }

  

    .card-header{
    background-color: #94bb81;
    font-family: 'Nerko One', cursive;
    font-size:20px;
    }
</style>

{% endblock meta %}

<body>
{% block content %}
</br></br></br></br>

<h1 style="font-family: 'Nerko One', cursive;" class = "text-center">ABOUT ME</h1></br>

<div class="card container col-12">
    <div   class=" card-header row">
        <div class=" col-10  title">
            + Riwayat Pendidikan
        </div> 
        
            <div  class="up col-1"><button type="button" class="btn btn-outline">^</button></div> 
            <div class="down col-1"><button type="button" class="btn btn-outline">v</button></div>       
        
    </div> 
    <div class="card-body  isi mx-4">
        <ul>
            <li>TK IT Al-Azhar B.Aceh: 2006 - 2007</li>
            <li>SDN 16 B.Aceh : 2007 - 2013</li>
            <li>MTsN Model B.Aceh : 2013 - 2016</li>
            <li>MAN Model B.Aceh : 2016 - 2019</li>
            <li>Universitas Indonesia : 2019 - Sekarang</li>
        </ul>
    </div>

    <div  class=" card-header row">
    
        <div class=" col-10  title">
            + Activity
        </div> 
        
       
            <div  class="up col-1"><button type="button" class="btn btn-outline">^</button></div> 
            <div class="down col-1"><button type="button" class="btn btn-outline">v</button></div>       
       
     
    </div> 
    <div class="card-body isi mx-4">
       <p style="text-align:justify">Saat ini saya sedang menempuh pendidikan sarjana
           di jurusan ilmu komputer,Fasilkom,Universitas Indonesia.
           Di kampus saya menjadi asisten dosen kalkulus 1 dan wakil
           departemen MUC Fuki Fasilkom 2020.Saya juga aktif di paguyuban daerah dan saat ini diamanahi menjadi PJ Try Out SSG UI 2021
           dan staf MedC Saman UI 2020/2021.
        </p>
    </div>

    <div class="card-header row">
        <div class=" col-10  title">
            + Organisasi
        </div>
         
       
            <div  class="up col-1"><button type="button" class="btn btn-outline">^</button></div> 
            <div class="down col-1"><button type="button" class="btn btn-outline">v</button></div>       
     
    </div>  
    <div class=" card-body isi mx-4">
        <ul>
            
            <li> Wakil departemen Muslimah Center Fuki 2020</li>
            <li> Staff MedC Saman UI 2020</li>
            
        </ul>
    </div>
    
    <div class="card-header row">
        <div class="col-10 title">
             + Kepanitiaan 
        </div> 
       
            <div  class="up col-1"><button type="button" class="btn btn-outline">^</button></div> 
            <div class="down col-1"><button type="button" class="btn btn-outline">v</button></div>       
       
    </div>  
    <div class="isi mx-4">
        <ul>
            <li> PJ Divisi Try Out SSG UI 2021</li>
            <li>Staff Cerdas Cermat SSG UI 2020  </li>
            <li>Mentor Betis Fasilkom 2020 </li>
        </ul>
    </div>

    <div class="card-header row">  
        <div class="col-10  title">
            + Prestasi
        </div> 
     
            <div  class="up col-1"><button type="button" class="btn btn-outline">^</button></div> 
            <div class="down col-1"><button type="button" class="btn btn-outline">v</button></div>       
    </div>  
    <div class="card-body  isi mx-4">
        <ul>
            <li>Finalis OSA 2019</li>
            <li>Juara 2 Cerdas Cermat Pascal 2019 </li>
        </ul>
    </div>


</div>
</br></br>
 {% endblock %} 
 </body> 