{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class = "container">
  <div class = "row justify-content-between ">
      <div class = "col-md-5 mx-3" id = "foto">
      <img src="{% static 'img/MyImage.JPG' %}"   alt="foto" class="rounded-circle " Style="width:100%;"  >
      </div>

  <div class = "col-md-5 mx-4" id = "deskripsi" >
  </br>
      <h3><b>About Me:</b></h3>
      <p>
      Hello, my name is Farzana Hadifa. I was born in Kuala Lumpur, 11 October 2001. 
      I’m a second years student in computer science, University of Indonesia. 
      I learn Java and Python programming language. In my free time, i like reading a novel or watching korean drama.
     </p>
      <h3><b>Educational Background:</b></h3>
      <ul>
          <li>TK IT Al-Azhar B.Aceh: 2006 - 2007</li>
          <li>SDN 16 B.Aceh : 2007 - 2013</li>
          <li>MTsN Model B.Aceh : 2013 - 2016</li>
          <li>MAN Model B.Aceh : 2016 - 2019</li>
          <li>Universitas Indonesia : 2019 - Sekarang</li>
      </ul>
  </div>
  
  <div class = "col-md-3 mx-4 my-2 experience"  >
  </br>
      <h3><b>Academic and Seminar</b></h3>
      <ul>
          <li>Teaching Assistant Calculus 1.</li>
          <li>Participant of the seminar Business Intelligence 101 Compfest 2019</li>
          
      </ul>
  </div>

  <div class = "col-md-3 mx-4 my-2 experience"  >
  </br>
      <h3><b>Organization</b></h3>
      <ul>
          <li>Deputy of Muslimah Center Fuki 2020</li>
          <li> Staff of MedC Saman UI 2020</li>
          
      </ul>
  </div>

  <div class = "col-md-3 mx-4 my-2 experience"  >
  </br>
      <h3><b>Commitee</b></h3>
      <ul>
          <li>Staff of Cerdas Cermat SSG UI 2020  </li>
          <li>Mentor in Betis Fasilkom 2020 </li>
          
      </ul>
  </div>
</div>
</div>

</br></br></br>
{% endblock %}
