{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class = "container">
    <div class="row justify-content-center">
        <div class="col-md-5 mx-4" id="login">
    <form class="form-signin" id="form">
     <div class="text-center">
      <img class="mb-4" src="{% static 'img/user.svg' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="login_btn">Log in</button>
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="login_btn">Log in With <img src = "{% static 'img/google.svg' %}"  style = "width:0.5cm"></</button>
    </form>
</div>
    </div>
    </div>

{% endblock  %}