<!DOCTYPE html>
{% load static %}


<head>
    <link rel="stylesheet" href="{% static 'css/web.css' %}" />
     <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% block meta %}
    {% endblock meta %}

</head>
<body>

    <header >
        <nav class = "navbar navbar-expand-lg fixed-top  navbar-light " id="header" >
        <div class = "container">
            
            <a class="navbar-brand" href="" id = "brand"><i>Farzana</i></a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>  

            <div  class = "collapse navbar-collapse" id="myNav">
                <ul class = "navbar-nav" >
                    <li class="nav-item"><a class="nav-link" href= "{% url 'story4:home' %} " id="menu">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'story1:story1' %}" id="menu">Story1</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'story7:profil' %}" id="menu">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'story8:book' %}" id="menu">Book</a></li>
                    <li class="nav-item dropdown" >
                        <a id="menu" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Schedule
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#87a96b; color:white">
                            <a class="nav-link" href="{% url 'story5:form' %}" style="color:white">Tambah Jadwal</a>
                            <a class="nav-link" href="{% url 'story5:jadwal' %}" style="color:white">Lihat Jadwal</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" >
                        <a id="menu" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Activity
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#87a96b; color:white">
                            <a class="nav-link" href="{% url 'story6:formKegiatan' %}" style="color:white">Tambah Kegiatan</a>
                            <a class="nav-link" href="{% url 'story6:kegiatan' %}" style="color:white">Peserta</a>
                        </div>
                    </li>
                    
                    
                </ul>
                {% if request.user.is_authenticated %}
                <div class="ml-auto">
                    <ul class = "navbar-nav" >
                        <li class="nav-item"><a class="nav-link" href= "#" id="menu"><img src="{% static 'img/user.png' %}" style = "width:1cm">Halo   <i> {{request.user}}</i></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'story9:logout' %}" id="menu"><img src="{% static 'img/log-in.png' %}" style = "width:1cm"> Logout</a></li>
                        </ul>
                </div>
                {% else %}
                <div class="ml-auto">
                    <ul class = "navbar-nav" >
                        <li class="nav-item"><a class="nav-link" href= "{% url 'story9:SignUp' %} " id="menu"><img src="{% static 'img/user.png' %}" style = "width:1cm"> Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'story9:login' %}" id="menu"><img src="{% static 'img/log-in.png' %}" style = "width:1cm"> Login</a></li>
                        </ul>
                </div>
                {% endif %}
            </div>
            </div>

        </div> 
        </nav>
    </header>


{% block content %}

{% endblock  %}

<footer id="footer">

<div class="container" >
<div class ="row justify-content-center"> 
    <div class = col-xs-2>
    </br>
<h3 id = "sosmed" >Find Me On:</h3>

<a href="https://www.instagram.com/farzanahadifa/?hl=en"><img src = "{% static 'img/instagram.svg'%}"  style = "width:1cm"></a>
             
<a href="https://twitter.com/FHadifa">     <img src = "{% static 'img/twitter.svg' %}" style = "width:1cm"></a>
        
<a href="https://www.linkedin.com/in/farzana-hadifa-11465719a/"><img src = " {% static 'img/linkedin.svg' %}"  style = "width:1cm"></a>
<p id = "copyright">&copy 2020 FarzanaHadifa</p>
</div>  
</div>
</div>
  </footer>
  

<script type = "text/javascript"  src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

    

