{% extends 'base.html' %}
{% load static %}


<head>
     <title>{{title}}</title>
     <meta charset="UTF-8">
</head>

{% block content %}
<body>
 <div class = "container">
     <div class="row justify-content-center">
          <div class="col-md-5 mx-4 ">
<form method = "POST" action = "saveKegiatan" id = "formMatkul">
{% csrf_token %}
{{ form.as_p }}
<button  type="submit" class="btn btn-secondary"  style="background-color:#87a96b;" >Tambah</button>
</form>

</div>
</div>
</div>
</body>


{% endblock  %}