{% extends 'base.html' %}
{% load static %}


<head>
    <meta charset="UTF-8">
     <title>{{title}}</title>

</head>

{% block content %}
<body>
 <div class = "container">
     <div class="row justify-content-center">
          <div class="col-md-5 mx-4 ">
<form method = "POST" action = "{% url 'story6:saveDaftar' pk %}" id = "formMatkul">
{% csrf_token %}
{{ form.as_p }}
<button  type="submit" class="btn btn-secondary"  style="background-color:#87a96b;" >Daftar</button>
</form>

</div>
</div>
</div>
<div class = "container">
    <h5>Cancel</h5>
    <a href="{% url 'story6:kegiatan' %}"><img src="{% static 'img/back.svg'  %}" style = "width:1cm "></a>
</div>
</br></br></br>
</body>


{% endblock  %}