{% extends 'base.html' %}
{% load static %}


<head>
     <title>{{title}}</title>
     <meta charset="UTF-8">
</head>

{% block content %}
<body>
    <div style = "margin-top: 120px; margin-bottom: 120px;">
    <h2 class="text-center"  >Kegiatan dan Peserta</h2></br>

    {% if kegiatans %}
   <table class="table table-striped table-responsive-md" >
        <tr style="background-color:#b3ce9d;" >
            {% for kegiatan in kegiatans %}
            <th >{{kegiatan.nama}}</th>
            {% endfor %}
        </tr>
        <tr >
            {% for orang in list %}
            <td ><ol>
            {% for i in orang %}
            <li>{{i.nama}}</li> 
            {% endfor %}
            </ol></td>
            {% endfor %}
        </tr>
        <tr style="background-color:#b3ce9d;">
            {% for kegiatan in kegiatans %}
            <th ><a  href="{% url 'story6:formDaftar' kegiatan.pk %}"><button  type="button" class="btn btn-outline-dark" ><b>Daftar</b></button></a></th>
            {% endfor %}
        </tr>
    
   </table>

{% endif %}
</div>
</body>


{% endblock  %}