{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class = "container">
</br></br></br><br><br>
    <div class="row justify-content-center">
        <div class="col-md-4 mx-4" >
          <h1 class="text-center">Login</h1><br>
          <form method="POST" action="Masuk">
            {% csrf_token %}
            <label >Username:</label>
            <input type="text"  name="username"><br>
            <label >Password :</label>
            <input type="password"  name="password"><br>
            <br>
            <button  type="submit" class="btn btn-secondary "  style="background-color:#87a96b;" >Login</button>
          </form>

          {% for message in messages %}
          <b>{{message}}</b>
          {% endfor %}
          <br>
          <h5>Doesn't have an account? <a href="{% url 'story9:SignUp' %}">Sign Up</a></h5>
</div>
    </div>
    </div>
<br><br><br>
{% endblock  %}