{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class = "container">
</br></br></br><br><br>
    <div class="row justify-content-center">
        <div class="col-md-5 mx-4" >
    <h1 class="text-center">Sign Up</h1><br>
    <form method="POST">
     {% csrf_token %}
     <table>
      <tr><td>{{form.username.label}}</td><td>: {{form.username}}</td></tr>

      <tr><td>{{form.password1.label}}</td><td>: {{form.password1}}</td></tr>
      <tr><td>{{form.password2.label}}</td><td>: {{form.password2}}</td></tr>
      </table>
     <br>
     <button  type="submit" class="btn btn-secondary "  style="background-color:#87a96b;" >Register Account</button>
    </form>
    <b>{{form.errors}}</b>
{% for message in messages %}
<b>{{message}}</b>
{% endfor %}
<br>
<h5>Already have an account? <a href="{% url 'story9:login' %}">Login</a></h5>
</div>

    </div>
    </div>
    <br><br><br>
{% endblock  %}