{% extends 'base.html' %}
{% load static %}

{% block meta %}

     <title>{{title}}</title>

{% endblock %}

{% block content %}
<body>

<div class="container">
<div class="row justify-content-center">
<div class = "column-md-6 mx-4" Style = "margin-top: 120px" >
{% if jadwal %}
   <h2>Detail {{ jadwal.nama_matkul}}: </h2>
    <table  id="T">
       <tr>
          <th>Dosen</th>
          <th>SKS</th>
          <th>Tahun Ajaran</th>
          <th>Kelas</th>
          <th>Deskripsi Matkul</th>
       </tr>
       <tr>
         <td>{{ jadwal.dosen}}</td>
         <td>{{ jadwal.jumlah_sks}}</td>
         <td>{{ jadwal.tahun_ajaran}}</td>
         <td>{{ jadwal.ruang_kelas}}</td>
         <td>{{ jadwal.deskripsi_matkul}}</td>
      </tr>
    </table>
{% endif %}
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class = "column-md-6 ml-4" Style = "margin-top: 30px; margin-bottom: 58px;" >
<a href="{% url 'story5:jadwal' %}"><img src="{% static 'img/back.svg'  %}" style = "width:2cm"></a>
</div>
</div>
</div>


</body>

{% endblock  %}