{% extends 'base.html' %}
{% load static %}


<head>
     <title>{{title}}</title>
</head>

{% block content %}
<body>
  <div class="container">
    <div class="row justify-content-center">
    <div class = "column-md-6 mx-4" >
<h3 Style = "margin-top: 120px">Jadwal Kuliah Semester 3:</h3>

{% if jadwal %}
<ol>
{% for matkul in jadwal %}
  <li style="font-size: 19px"> {{ matkul.nama_matkul }} 
    <a style = "color:#87a96b" href="{% url 'story5:detail' matkul.pk %}">detail</a>
    <a type="button" style = "color:#87a96b" href="{% url 'story5:delete' matkul.pk %}" onclick="return confirm('Anda yakin mau menghapus matkul {{ matkul.nama_matkul }} ?');">delete</a></li>
{% endfor %}
</ol>
{% endif %}
</div>
</div>
</div>

</br></br></br>
</body>
{% endblock  %}