{% extends 'base.html' %}
{% load static %}


<head>
     <title>{{title}}</title>
</head>

{% block content %}
<body>
 <div class = "container">
     <div class="row justify-content-center">
          <div class="col-md-4">

<form method = "POST" action = "Savejadwal" id = "formMatkul">
<table>
{% csrf_token %}
{{ form.as_table }}
</table>
<button  type="submit" class="btn btn-secondary"  style="background-color:#87a96b;" >Tambah</button>
</form>
</br></br>
</div>
</div>
</div>
</body>


{% endblock  %}