table, th, td {
    border: 1.5px solid black; 
  
  }
  
  #keyword{
    border: 1.5px solid black; 
  }
  th {
  text-align: center;
  background-color:#87a96b;
  }
  
  tD {
      text-align: justify;
      background-color: #dbf1ca; ;
      }